.main img{
    width: 100%;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
li{
    float: left;
}
li a{
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 35px 50px;
    text-decoration: none;
}
li a :hover{
    background-color: black;
}
.sch input{
    font-size:15px;
    padding: 10px;
    color: aliceblue;
    background-color: black;
    text-align: left;
}
.sch{
    padding: 20px;
}
.sch img{
    width: 40px;
}
.sub1 img{
    width: 600px;
}
.sub1{
    position: absolute;
    top: 150px;
    left: 50%;
    font-size: 30px;
    font-style: oblique;
    color: rgb(243, 224, 224);
    text-align: center;
}
.sub1 a{
    background-color: rgb(241, 239, 239);
    color: rgb(5, 5, 5);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 1px 2px;
    font-size: medium;
}
.fixed h5{
    position: fixed;
    bottom: 0px;
    right: 80px;
    width: 200px;
    height: 25px;
    border: 10px black;
    background-color: aliceblue;
    text-align: center;
    border-radius: 50px;
    font-size: medium;
    padding: 15px;
}
.fixed img{
    position: fixed;
    bottom: 0;
    right: 65px;
    width: 40px;
    padding: 40px;
    border-radius: 10px;
}
.sub2,.sub3{
    margin: 1;
    width: 100px;
    float: left;
    border: 1px;
}
.sub2:hover,.sub3:hover{
    border: 1px solid black;
}
.sub2 img,.sub3 img,.sub4 img,.sub5 img,.sub6 img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    left: 18%;
    top: 2100px;
}
.desc , .desc2,.desc3,.desc4,.desc5{
    position: absolute;
    left: 21%;
    top: 2300px;
    font-size: 17px;
    color: rgb(77, 76, 76);
}
.sub3 img{
    left: 30%;
}
.desc2{
    left: 34%;
}
.sub4 img{
    left: 43%;
}
.desc3{
    left: 46%;
}
.sub5 img{
    left: 56%;
}
.desc4{
    left: 60%;
}.sub6 img{
    left: 69%;
}
.desc5{
    left: 71%;
}
.main2{
    position: absolute;
    left: 35%;
    top: 2500px;
    font-size: 23px;
    color: rgb(88, 88, 88);
    text-align: center;
}
.main2 a{
    background-color: rgb(241, 239, 239);
    color: rgb(5, 5, 5);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: medium;
}div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }